
@media screen and (min-width: 992px) {
    .c-cc-reader {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.cc-md-card .card {
    margin-left: 0.618rem;
    margin-right: 0.618rem;
}

.cc-md-col {
    padding-left: 0;
    padding-right: 0;
}

.cc-md-1 em {
    background-color: cadetblue;
    border:1px;
    border-color: cadetblue;
    border-style: solid;
    padding-left: 3px;
    padding-right: 3px;
    border-radius:3px;
    color: white;
    margin-left: 1;
    margin-right: 2;
}

.cc-md-1 pre {
    background-color: white;
    border: 2px;
    border-color: #0d47a1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-style: dashed;
}

.cc-md-1 blockquote {
    padding: 20px;
    background-color: #fafafa;
    border-left: 6px solid #e6e6e6;
    word-break: break-word;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 20px;
}