.cc-md-info {
    background-color: #fff;
    border:1px;
    border-color: #fff;
    border-style: solid;
}

.cc-md-1 {
    background-color: #fff;
    border:1px;
    border-color: #fff;
    border-style: solid;
    border-radius:4px;
}

@media (min-width: 900px) {
    .cc-md-1 * {
        margin-left: 3px;
        margin-right: 3px;
    }
}

.cc-md-1 * {
    margin-left: 1px;
    margin-right: 1px;
}

.cc-md-1 strong {
    background-color: gray;
    border:1px;
    border-color: gray;
    border-style: solid;
    padding-left: 3px;
    padding-right: 3px;
    border-radius:3px;
    color: white;
    margin-left: 1;
    margin-right: 2;
}

.cc-md-1 pre {
    background-color: white;
    border: 2px;
    border-color: #0d47a1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-style: dashed;
}


.cc-md-1 a {
    background-color:#0d47a1;
    border:1px;
    border-color: gray;
    border-style: solid;
    padding-left: 3px;
    padding-right: 3px;
    border-radius:3px;
    color: white;
    margin-left: 1;
    margin-right: 2;
    transition: all 0.6s;
    transition-timing-function: ease-in-out;
}

.cc-md-1 blockquote {
    padding: 20px;
    background-color: #fafafa;
    border-left: 6px solid #e6e6e6;
    word-break: break-word;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 20px;
}

.cc-md-1 a:hover {
    transition: all 0.6s;
    transition-timing-function: ease-in-out;
    border:1px;
    background-color: gray;
    border-color: gray;
    border-style: solid;
    padding-left: 3px;
    padding-right: 3px;
    border-radius:3px;
    color: white;
    margin-left: 1;
    margin-right: 2;
    text-decoration:none !important;
}
